.main-interface {
  height: 100vh;
  width: 100vw;
  color: #00ffd0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;

  background: linear-gradient(180deg, #0e2a3b 0%, #14394f 100%);
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.03) 3px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 3px, transparent 1px);
  background-size: 80px 80px;
  animation: scrollGrid 5s linear infinite;

  position: fixed;
  top: 0px;

  justify-content: center;
  align-items: center;
}

@keyframes scrollGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 80px;
  }
}

.boot-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.loader-bar {
  width: 400px;
  height: 12px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #00ffd0;
  box-shadow: 0 0 8px #00ffd0aa;
  overflow: hidden;
  border-radius: 4px;
}

.loader-progress {
  width: 0%;
  height: 100%;
  background-color: #00ffd0;
  animation: loading 3s ease-out forwards;
  box-shadow: 0 0 10px #00ffd0;
}

@keyframes loading {
  to {
    width: 100%;
  }
}

.boot-welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin-top: 30px;
  font-size: 1.5rem;
  color: #00ffd0;
  animation: fadein 0.5s ease-out;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

:root{
  --dock-h: 64px; /* hauteur de ta MenuBar */
}

.desktop-grid {
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: calc(var(--dock-h) + env(safe-area-inset-bottom, 0px));
  position: absolute;
  inset: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  gap: 16px 24px;
  align-content: start;
  justify-content: start;
  pointer-events: none; 
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  color: white;
  font-size: 15px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
}

.desktop-icon span {
  display: block;
  margin-top: 10px;
}

.icon-stack-large {
  position: relative;
  width: 64px;
  height: 64px;
}

.icon-stack-large svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.icon-back {
  top: 4px;
  left: 4px;
  color: #00b997;
  opacity: 0.6;
  z-index: 0;
}

.icon-front {
  top: 0;
  left: 0;
  color: #00ffd0;
  z-index: 1;
}

.login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  background-color: black;
  border: 2px solid #00ffd0;
  box-shadow: 0 0 10px #00ffd0;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  font-family: 'Courier New', monospace;
  color: #00ffd0;
}

.login-modal-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #0e2a3b;
  justify-content: center;
  align-items: center;
}

.login-modal-content input {
  margin: 8px 0;
  padding: 6px;
  width: 80%;
  background-color: #14394f;
  border: 1px solid #00ffd0;
  color: #00ffd0;
  font-family: 'Courier New', monospace;
}

.login-modal-content button {
  margin-top: 12px;
  padding: 6px 12px;
  background-color: #14394f;
  border: 1px solid #00ffd0;
  color: #00ffd0;
  cursor: pointer;
  font-family: 'Courier New', monospace;
}

.login-modal-content button:hover {
  background-color: #00ffd0;
  color: black;
}


.boot-text {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #00ffd0;
}

.boot-text a {
  color: #4affff;
  text-decoration: underline;
}

.boot-button {
  margin-top: 2rem;
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #4affff;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.boot-button:hover {
  background-color: #00ffd0;
}