html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.terminal-container {
  background-color: #3f3f3f;
  color: white;
  font-family: monospace;
  font-size: 13pt;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-anchor: none;
}

.terminal-text {
  margin: 0px;
}

.terminal-line {
  margin: 0px;
}

.terminal-output {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-anchor: none;
}

.hidden-textarea {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  height: 1px;
  width: 1px;
  resize: none;
  overflow: hidden;
  font: inherit;
  pointer-events: none;
}


.line {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  line-height: 1.4;
}

.prompt-user-host {
  color: #8add38;
  font-weight: bold;
}
.prompt-path {
  color: #5f98ce;
  font-weight: bold;
}
.prompt {
  margin-right: 5px;
}

.input {
  color: white;
  flex-grow: 1;
}

.hidden-textarea {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  height: 1px;
  width: 1px;
  resize: none;
  overflow: hidden;
  font: inherit;
}

.cursor {
  display: inline-block;
  width: 1px;
  height: 1em;
  background-color: white;
  animation: blink 1s step-start infinite;
  vertical-align: text-bottom;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.nano-line {
  white-space: pre-wrap;
  font-family: monospace;
  color: white;
  margin: 0px;
}

.nano-instructions-fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3f3f3f;
  color: white;
  text-align: center;
  padding: 6px;
  font-family: monospace;
  font-size: 13px;
  border-top: 1px solid #3f3f3f;
}


/* scroll bar */
/* Scrollbar pour Chrome, Edge, Safari */
.terminal-container::-webkit-scrollbar {
  width: 10px;
}

.terminal-container::-webkit-scrollbar-track {
  background: #3f3f3f; /* Couleur de fond */
  border-left: 1px solid #787878; /* Pour s’accorder avec le cadre néon */
}

.terminal-container::-webkit-scrollbar-thumb {
  background-color: #787878;
  border-radius: 10px;
  border: 2px solid #3f3f3f;
}

.terminal-container::-webkit-scrollbar-thumb:hover {
  background-color: #787878; /* Couleur plus claire au survol */
}

/* Cacher complètement les boutons de scroll */
.terminal-container::-webkit-scrollbar-button:single-button {
  display: none;
  background-color: transparent;
  width: 0;
  height: 0;
}

.terminal-container::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
}

.terminal-container::-webkit-scrollbar-button:single-button:vertical:decrement {
  display: none !important; /* flèche du haut */
}
.terminal-container::-webkit-scrollbar-button:single-button:vertical:increment {
  display: none !important; /* flèche du bas */
}

.terminal-container::-webkit-scrollbar-button {
  background: red;
}

/* Pour Firefox */
.terminal-container {
  scrollbar-width: thin;
  scrollbar-color: #787878 #3f3f3f;
}